.breadcumbox-wrapper ul{
    display: flex;
}
.breadcum-item{
    margin: 5px;
    font-size: 12px;
}
.breadcum-item:not(:last-child)::after {
    content: "/";
    color: #73739C;
    margin-left: 10px;
}
.breadcum-item a{
    text-decoration: none;
    color: #73739C;
}