.wishlist-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.whishlist-container{
    width: 90%;
    height: 100%;
    display: flex;
    gap: 50px;
}
.whishlist-product-image{
    width:250px;
}
.whishlist-product-details{
    display: flex;
    flex-direction: column;

}
.whishlist-product-brand-name{
    font-size: 12px;
}
.whishlist-product-title{
    font-size: 19px;
}

.empty-wishlist-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
.empty-wishlist-title{
    font-size: 12px;
    font-weight: 550;
    margin: 20px;
}
.empty-wishlist-subtitle{
    color: #8f98a9;
    font-size: 14px!important;
    font-style: normal;
    font-weight: 400;
    line-height: 20px!important;
    margin: 8px auto auto;
    text-align: center;
    width: 20%;
    letter-spacing: 0.5px;
}
.btn{
    width: 10%;
    height: 45px;
    margin: 25px;
    border: none;
    border-radius: 5px;
    outline: none;
    letter-spacing: 0.5px;
    background-color: #42a2a2;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 550;
}
.btn:hover {
    background-color: #5cb4b4;
    cursor: pointer;
}

@media only screen and (max-width: 1200px)
{
    .btn{
        font-size: 14px;
        width: 12%;
    }
    .empty-wishlist-subtitle{
        width: 25%;
    }
}
@media only screen and (max-width: 990px)
{
    .btn{
        font-size: 12px;
        width: 15%;
    }
    .empty-wishlist-subtitle{
        width: 28%;
        font-size: 12px !important;
    }
}
@media only screen and (max-width: 680px)
{
    .btn{
        font-size: 12px;
        width: 25%;
    }
    .empty-wishlist-subtitle{
        width: 38%;
    }
}
@media only screen and (max-width: 450px)
{
    .btn{
        font-size: 12px;
        width: 50%;
    }
    .empty-wishlist-subtitle{
        width: 45%;
    }
}