.navbar-container{
    display: flex;
    justify-content: space-around;
    /* width: 100vw; */
    height: 3vw;
    margin: 0.1%;
    padding: 2%;
    font-weight: 400;
    font-size: 85%;
    align-items: center;
    border-bottom: 1px solid #aeabab;
    
}
.logo{
    height: 3vh;
    margin: 4%;
}
.navbar-logoandlinks{
    display: flex;
    justify-content: space-around;
    width: 35vw;
}
.links{
  display: flex;
  justify-content: space-around;
  width: 20vw;
  align-items: center;
}
.item{
    text-decoration: none;
    color: #191919;
}
.navbar-login-fav-cart-country{
    display: flex;
    justify-content: space-between;
    width: 10vw;
    align-items: center;
    margin-right: 4%;
}
.search-box{
    width: 20vw;
    padding: 12px 12px 12px 20px;
    border: none;
    background-color: transparent;
    font-size: 80%;
}
.navbar-search-section{
    display: flex;
    background-color: #EAEAEA;
    border-radius: 0.3rem;
}
.search-icon{
    color: #757575;
    margin: 2%;
}
.mobile-screen-menu{
    display: none;
}
@media screen and (max-width:990px)
{
    /* .navbar-logoandlinks{
        display: none;
        background-color: pink;
    }
    .search-box{
        display: none;
    } */
    .navbar-container{
        padding: 3%;
    }
    .navbar-login-fav-cart-country{
        width: 12vw;
        margin: 0;
    }
    .navbar-search-section{
        width: 40vw;
        margin-left: 20%;
    }
    .search-box{
        width: 40vw;
    }
    .mobile-screen-menu{
        display: block;
        width: 10vw;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 1%;
        margin: 1%;
    }
    .navbar-logoandlinks{
        display: none;
    }
}