.navbar-wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #E5E5E5;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 70%;
  font-weight: 500;
  opacity: 0.9;
  padding: 0px 10px;
}
.mobile-screen-menu {
  display: none;
}
.navbar-left-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  gap: 20px;
  cursor: pointer;
  margin: 0;
}
.logo {
  display: flex;
  width: 100px;
}
.navbar-item {
  text-decoration: none;
  color: #191919;
}
.navbar-search-section {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 300px;
  padding: 4px 0px;
  background-color: #eaeaea;
  text-overflow: hidden;
  border-radius: 6px;
}
.search-box {
  border: none;
  width: 85%;
  background-color: transparent;
}
.navbar-right-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  gap: 20px;
  cursor: pointer;
  margin: 0;
}
@media only screen and (max-width: 1224px)
{
  .navbar-wrapper{
    align-items: normal;
  }
  .navbar-container{
    width: 100%;
    padding: 0 25px;
  }
}
@media only screen and (max-width: 992px)
{
  .navbar-left-items {
    display: none;
  }
  .mobile-screen-menu {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    align-items: center;
    width: 8%;
  }
}
@media only screen and (max-width: 668px)
{
  .navbar-search-section{
    width: 200px;
  }
}
@media only screen and (max-width: 448px)
{
  .navbar-search-section{
    width: 150px;
  }
}
/* @media only screen and (max-width: 990px) {
  .mobile-screen-menu {
    width: 10vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 1%;
    top: 0;
    margin: 1%;
  }
  .mobile-screen-menu img {
    height: 40%;
  }
  .navbar-logoandlinks {
    display: none;
  }
} */
 /* @media only screen and (min-width: 980px) {
  .mobile-screen-menu {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .navbar-container {
    font-size: 75%;
    padding: 2%;
  }
} */

/* @media only screen and (max-width: 630px) {
  .navbar-container {
  }
  .search-box {
  }
  .navbar-search-section {
  }
  .search-icon {
  }
}  */
